<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="/" method="GET" class="formulario">
            <div class="data">
                <label for="name" class="style-pass">Nombre y apellido</label>
                <input type="text" id="name" name="name" placeholder="Nombre y apellido">
                <label for="email" class="style-pass">Email</label>
                <input type="email" id="email" name="email" placeholder="email" required>
            </div>
            <div class="data-fetch">
                <label for="fetch" class="style-pass">Ingrese fecha de nacimiento:</label>
                <input type="date" id="fetch" name="fetch" value="2022-16-12">
                <label for="direction" class="style-pass">Direccion:</label>
                <input type="text" id="direction" name="direction" placeholder="Direccion">
            </div>
            
            <h3>Perfil del Usuario</h3>
            <div class="perfil-user">
                <div class="elegir">
                    <input type="radio" id="comprador" name="perfil" value="comprador">
                    <label for="comprador" class="cmp-type">Comprador</label>
                </div>
                <div class="elegir">
                    <input type="radio" id="vendedor" name="perfil" value="vendedor">
                    <label for="vendedor" class="cmp-type">Vendedor</label>
                </div>
            </div>
            <h3>Intereses</h3>
            <div class="bottom-checkbox">
                <div class="gustos">
                    <input type="checkbox" id="electro" value="electro" name="electro">
                    <label for="electro">Electro</label>
                </div>
                <div class="gustos">
                    <input type="checkbox" value="moda" id="moda" name="moda">
                    <label for="moda">Moda</label>
                </div>
                <div class="gustos">
                    <input type="checkbox" value="hogar" id="hogar" name="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div class="gustos">
                    <input type="checkbox" value="jugueteria" id="jugueteria" name="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div class="gustos">
                    <input type="checkbox" value="vida-sana" id="vida-sana" name="vida-sana">
                    <label for="vida-sana">Vida Sana</label>
                </div>
            </div>
            <h3>Foto de usuario</h3>
            <div class="user-file">
                <input type="file" name="user-img" accept="image/*">
            </div>
            <div class="pass">
                <label class="style-pass" for="pass">Contraseña</label>
                <input type="password" id="pass" name="pass" placeholder="">
                <label class="style-pass" for="confirm-pass">Confirmar contraseña</label>
                <input type="password" id="confirm-pass" name="confirm-pass" placeholder="">
            </div>
            <div class="btn">
                <a href="/"><button type="submit" class="btn-send">Enviar</button></a>
                <button type="reset" class="btn-clear">Borrar</button>
            </div>
        </form>
    </main>
</body>
<%- include('partials/footer') %>
</body>
</html>